<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewBag.Title | Vidly</title>

	<!-- Core CSS -->
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)

	<!-- Head JS -->
	@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/jquery")
	@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/bootstrap")
	@RenderSection("preloadScripts", required: false)
</head>
<body>
	@Html.Partial("_Navbar")

	<main role="main" class="container">
		@RenderBody()
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; @DateTime.Now.Year - Vidly</span>
		</div>
	</footer>

	<!-- Main Scripts -->
	@RenderSection("scripts", required: false)
</body>
</html>
